/Debug/*
/Release/*
**/bin/*
/tmp/*
/build/*
/lib/*
/x64/*
/.vs/*
/hou/*
/doc/*
/back/*
*.filters
*.user
*.bak
*.bak.*
todo.txt
*.log
*.tlog
*.obj
*.lastbuildstate
*.pdb
*.idb
**/CMakeFiles/*
CMakeCache.txt
**/Makefile
**/cmake_install.cmake
.vscode